body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100px 600px 400px 100px;
  gap: 5px;
}

header,
nav,
main,
section,
aside,
footer {
  border: 2px solid black;
}

header {
  grid-column: 1/6;
}
section {
  grid-column: 1/4;
  grid-row: 2/4;
}
aside {
  grid-column: 4/6;
  grid-row: 2/4;
}
footer {
  grid-column: 1/6;
  grid-row: 4/6;
}
img {
  width: 700px;
}
h2 {
}
